<div class="col-md-3 sidebar" style="background-color: #e9ecef; height:100vh; position:fixed; z-index : 2;">
    <div class="jumbotron text-center" style="margin-bottom: 20px;">
        <h1 style="font-size: 5rem; font-weight: bold;">Rema.</h1>

    </div>
    <nav class="nav flex-column" style="margin:10px;">
        <a class="btn btn-dark btn-lg" href="/student_dashboard/profs" role="button"
           style="color: #000;  margin-bottom:1%; padding:3%; background-color: #fff; border-color: #fff; border-width:2px;"
           onmouseover="this.style.backgroundColor='#303030'; this.style.borderColor='#303030'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#fff'; this.style.color='#000';">
            Students
        </a>
        <a class="btn btn-dark btn-lg" href="/student_dashboard/research_projects" role="button"
           style="color:black; margin-top: 0.5%; margin-bottom:1%; padding:3%; background-color: #fff; border-color: #fff;"
           onmouseover="this.style.backgroundColor='#303030'; this.style.borderColor='#303030'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#fff'; this.style.color='#000';">
            Research Projects
        </a>
        <a class="btn btn-dark btn-lg" href="/student_dashboard/under_review_papers" role="button"
           style="color:black; margin-top: 0.5%; margin-bottom:1%; padding:3%; background-color: #fff; border-color: #fff;"
           onmouseover="this.style.backgroundColor='#303030'; this.style.borderColor='#303030'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#fff'; this.style.color='#000';">
            Under Review Papers
        </a>
        <a class="btn btn-dark btn-lg" href="/student_dashboard/reading_list" role="button"
           style="color:black; margin-top: 0.5%; margin-bottom:1%; padding:3%; background-color: #fff; border-color: #ccc;"
           onmouseover="this.style.backgroundColor='#303030'; this.style.borderColor='#303030'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#ccc'; this.style.color='#000';">
            Reading List
        </a>
        <a class="btn btn-dark btn-lg" href="/student_dashboard/conferences" role="button"
           style="color:black; margin-top: 0.5%; margin-bottom:1%; padding:3%; background-color: #fff; border-color: #fff;"
           onmouseover="this.style.backgroundColor='#303030'; this.style.borderColor='#303030'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#fff'; this.style.color='#000';">
            Conferences
        </a>
        <a class="btn btn-dark btn-lg" href="/logout" role="button"
           style="color:black; margin-top: 0.5%; margin-bottom:1%; padding:3%; background-color: #fff; border-color: #fff;"
           onmouseover="this.style.backgroundColor='#a40000'; this.style.borderColor='#a40000'; this.style.color='#fff';"
           onmouseout="this.style.backgroundColor='#fff'; this.style.borderColor='#fff'; this.style.color='#000';">
            Logout
        </a>
    </nav>
</div>
