<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">DASHBOARD</h1>
        <p class="lead"></p>
        <hr>

    </div>
</div>

<%- include('partials/footer') %>
