<%- include('partials/header') %>

    <div class="jumbotron centered" style="text-align: center; padding: 2rem 1rem;">
        <!-- Added centered text and padding -->
        <div class="container">
            <h1 class="display-3">Home</h1>
            <p class="lead"></p>
            <hr>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        </div>
    </div>

    <%- include('partials/footer') %>